@*
Insert Page title or alternative title 
Build: Adam Duncan 2012
*@
@{

	if (!String.IsNullOrEmpty(@Model.introText.ToString()))
	{
	<p class="dark">
		@Model.introText.ToString()
	</p>
	};
	
	@Model.bodyText


	// Add Back to link for Article or Service pages
	if(Model.NodeTypeAlias == "ArticlePage") {
		<p><a href="@Model.AncestorOrSelf("ArticleListingPage").Url" class="dark button icon_back">Back to @Model.AncestorOrSelf("ArticleListingPage").Name</a></p>	
	}
	if(Model.NodeTypeAlias == "ServicePage") {
		<p><a href="@Model.AncestorOrSelf("ServiceListingPage").Url" class="dark button icon_back">Back to @Model.AncestorOrSelf("ServiceListingPage").Name</a></p>	
	}

}
