@*
List contact details
Build: Adam Duncan 2012
*@
@{
	var mailToAddress = "mailto:";
	<div class="grid_4">
		@if (!String.IsNullOrEmpty(@Model.contactPersonDetails))
  {
			<p class="dark margin_b_0">
				@Html.Raw(@Model.contactPersonDetails.ToString())
			</p>
			@Html.Raw("/<br />")
  }
		@if (!String.IsNullOrEmpty(@Model.contactAddressLine1) || !String.IsNullOrEmpty(@Model.contactAddressLine2) || !String.IsNullOrEmpty(@Model.contactCityPostcode))
  {
			<p>
				@if (!String.IsNullOrEmpty(@Model.contactAddressLine1))
	{
					@Html.Raw(@Model.contactAddressLine1.ToString())
					@Html.Raw("<br />")
	}
				@if (!String.IsNullOrEmpty(@Model.contactAddressLine2))
	{
					@Html.Raw(@Model.contactAddressLine2.ToString())
					@Html.Raw("<br />")
	}
				@if (!String.IsNullOrEmpty(@Model.contactCityPostcode))
	{
					@Html.Raw(@Model.contactCityPostcode.ToString())
	}
			</p>
  }
	</div>
	<div class="grid_4">
		@if (!String.IsNullOrEmpty(@Model.contactEmail) || !String.IsNullOrEmpty(@Model.contactMobileNumber) || !String.IsNullOrEmpty(@Model.contactOfficeNumber) || !String.IsNullOrEmpty(@Model.contactSkype))
  {
			<p>
				@if (!String.IsNullOrEmpty(@Model.contactEmail))
	{
					<a href="@mailToAddress@Model.contactEmail" class="dark">
						@Model.contactEmail.Split('@')[0]@Html.Raw("@")<br />
						@Model.contactEmail.Split('@')[1]
					</a>
					@Html.Raw("<br />/")
	}
				@if (!String.IsNullOrEmpty(@Model.contactMobileNumber))
	{
					@Html.Raw("<br />Mobile: ")
					@Model.contactMobileNumber
	}
				@if (!String.IsNullOrEmpty(@Model.contactOfficeNumber))
	{
					@Html.Raw("<br />Office: ")
					@Model.contactOfficeNumber
	}
				@if (!String.IsNullOrEmpty(@Model.contactSkype))
	{
					@Html.Raw("<br />Skype: ")
					@Model.contactSkype
	}
			</p>
  }
	</div>
	foreach (var item in Model.Descendants().Where("visible"))
	  {
	  var contactName = (!String.IsNullOrEmpty(@item.alternativeTitle)) ? @item.alternativeTitle : @item.Name;
	<div class="grid_4">
			<h2 class="dark strong">
				@contactName
			</h2>
		@if (!String.IsNullOrEmpty(item.contactAddressLine1) || !String.IsNullOrEmpty(item.contactAddressLine2) || !String.IsNullOrEmpty(item.contactCityPostcode))
  {
			<p>
				@if (!String.IsNullOrEmpty(item.contactAddressLine1))
	{
					@Html.Raw(item.contactAddressLine1.ToString())
					@Html.Raw("<br />")
	}
				@if (!String.IsNullOrEmpty(item.contactAddressLine2))
	{
					@Html.Raw(item.contactAddressLine2.ToString())
					@Html.Raw("<br />")
	}
				@if (!String.IsNullOrEmpty(item.contactCityPostcode))
	{
					@Html.Raw(item.contactCityPostcode.ToString())
	}
			</p>
  }
  		@if (!String.IsNullOrEmpty(item.contactEmail) || !String.IsNullOrEmpty(item.contactMobileNumber) || !String.IsNullOrEmpty(item.contactOfficeNumber) || !String.IsNullOrEmpty(item.contactSkype))
  {
			<p>
				@if (!String.IsNullOrEmpty(item.contactEmail))
	{
					<a href="@mailToAddress@item.contactEmail" class="dark">
						@item.contactEmail.Split('@')[0]@Html.Raw("@")<br />
						@item.contactEmail.Split('@')[1]
					</a>
					@Html.Raw("<br />/")
	}
				@if (!String.IsNullOrEmpty(item.contactMobileNumber))
	{
					@Html.Raw("<br />Mobile: ")
					@item.contactMobileNumber
	}
				@if (!String.IsNullOrEmpty(item.contactOfficeNumber))
	{
					@Html.Raw("<br />Office: ")
					@item.contactOfficeNumber
	}
				@if (!String.IsNullOrEmpty(item.contactSkype))
	{
					@Html.Raw("<br />Skype: ")
					@item.contactSkype
	}
			</p>
		}
	</div>
	}
}
